.Rproj.user
.Rhistory
.RData
.Ruserdata
arcgis/
acs_2017_five_year_data/
raw_data/
.gdb
.lock
.sr
ACS_2016_5YR_TRACT_06_CALIFORNIA.gdb/
ACS_2016_5YR_TRACT_06_CALIFORNIA/
.sr.lock
*lock
scary nlcd data/
.pkinfo